<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Our Vineyard</title>
	<style type="text/css">
		@media only screen and (max-width: 1024px){
			table .container {width: 400px !important;}
			tr .callout table {width: 200px !important; }
			tr .callout table {width: 50% !important; }
			tr .callout_table tr td img {justify-content: center; }
			tr .callout table td h3:hover {margin-bottom: 5px !important;}
		}
	</style>
</head>

<body width="100%" background="#efe101">
	<table class="main" width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation">
		<tr>
			<td>
				<table class="container" width="640" align="center" border="0" cellspacing="0" cellpadding="0"
					style="font-family: Arial, Helvetica, sans-serif;">
					<tr>
						<td class="logo" valign="top" style="padding: 10px 20px 0px 30px; border: 1px solid bdc064;">
					
							<a href="https://www.cyberpunk.net/cz/ru/" style="cursor: wait;" target="_blank">
								<img src="https://avatars.mds.yandex.net/i?id=64b61fa8fc9381eb4eaa08cc8e728cce7981e106-5123535-images-thumbs&n=13"
									width="100%" alt="banner" />
							</a>
							<a href="">kjnskdjnvklsjdfv</a>
							<a _lable="pseudo_href" href="cbdc.com">kjnskdjnvklsjdfv</a>
			
						</td>
					</tr>
					<tr>
						<td valign="top" class="headline" bgcolor="#ffffff"
							style="padding: 15px 20px 5px 30px; border-left: 0px solid; border-right: 0px solid; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 22px;">
							<h1>main heading here</h1>
						</td>
					<tr>
						<a href _lable="kjnf">somelink.com&amp;</a>
						<td valign="top" bgcolor="#f5f2e5" class="banner"
							style="border-left: 0px solid; border-right: 0px solid;">
							<img src="https://avatars.mds.yandex.net/i?id=b7659ed74305da8f6f8181fa042866b2fabe8d15-12991230-images-thumbs&n=13"
								alt="" width="100%" height="140px">
						</td>
					</tr>
					<table></table> 
					<table>report it</table>




					<table role="presentation">report it</table>

					<tr>
						<td valign="top" valign="top" class="content"
							style="padding: 30px 30px 10px 30px; border: 0px; font-size: 16px; line-height:22px; color: #654308;">
							Lorem ipsum dolor sit amet consec tetur adip isicing elit sed do eiusmod tempor incididunt
							ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercita tion ullamco
							laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
							voluptate velit esse cillum eu fugiat <%= any text <% nulla.
							<br><br>
							Enjoy,
							<br>
							<img src="images/chris.gif" alt="Chris" width="90" height="40">

						</td>
					</tr>
					<tr>
						<td valign="top" bgcolor="#55315d" class="callout"
							style="background-color: #55315d; padding: 30px; border-right: 1px solid #dbc064; border-bottom: 1px solid #dbc064; border-left: 1px solid #dbc064;">
							<!-- markup callout 1 -->

							<table class="callout_1 callout_table" width="135" align="left" border="0" cellspacing="0"
								cellpadding="0">
								<tr>
									<td valign="top" width="135"
										style="padding-left: 10px; padding-right: 10px; font-family:Arial, Helvetica, sans-serif; font-size:13px; line-height: 16px; color: #ffffff;">
										<img src="https://w7.pngwing.com/pngs/27/608/png-transparent-street-sign-no-symbol-sign-signs-miscellaneous-angle-text.png" width="75" height="75"><br>
										Lorem ipsum dolor sit amet conctetur adipi eiu smod incid amet idun.
										<br><br>
										<a href="#">Learn more</a>
									</td>
								</tr>
							</table>
							<table class="callout_2" width="135" align="left" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td valign="top" width="135" style="padding-left: 10px; padding-right: 10px; font-family:Arial, Helvetica, sans-serif; font-size:13px; line-height: 16px; color: #ffffff;">
										<img src="https://w7.pngwing.com/pngs/27/608/png-transparent-street-sign-no-symbol-sign-signs-miscellaneous-angle-text.png" width="75" height="75"><br>
										Ddolore eu%9abcd fugiat nulla pariatur cupi datat excepteur occaet cupi noin.
										<br><br>
										<a href="#">Learn more</a>
									</td>
								</tr>
							</table>
							
							<table class="callout_3" width="135" align="left" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td valign="top" width="135" style="padding-left: 10px; padding-right: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 16px; color: #ffffff;">
										<img src="https://w7.pngwing.com/pngs/27/608/png-transparent-street-sign-no-symbol-sign-signs-miscellaneous-angle-text.png" width="75" height="75"><br>
										<img src="./save.png" alt="">
										Eiusmod tempor inci didunt ut magna aliqua ut enim ad iam quis.
										<br><br>
										<a href="#">Learn more</a>
									</td>
								</tr>
							</table>
							
							<table class="callout_4" width="135" align="left" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td valign="top" width="135" style="padding-left: 10px; padding-right: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 16px; color: #ffffff;">
										<img src="https://w7.pngwing.com/pngs/27/608/png-transparent-street-sign-no-symbol-sign-signs-miscellaneous-angle-text.png" width="75" height="75"><br>
										Excepteur sint occaecat cupidatat non proident sunt in culpa qui molit.
										<br><br>
										<a href="#">Learn more</a>
									</td>
								</tr>
							</table>

						</td>
					</tr>
					<tr">
						<!-- beginning td tag for promos row -->

						<td valign="top" bgcolor="#f5f2e5" class="promos"
							style="padding: 10px 30px 25px 30px; border-right:1px solid #dbc064; border-left:1px solid #dbc064; background-color: #f5f2e5; font-family: Arial, Helvetica, sans-serif;">
							<table align="left" id="badtable">
								<tr">
									<td >
										<img class="promo" alt="Promo image 1" src="https://avatars.mds.yandex.net/i?id=3594216530a17dd86c9d427c60f7b9a1bb03b3de-7761820-images-thumbs&n=13" width="50%">
										<h3 style="font-size:16px;">Promo heading here</h3>
										Lorem ipsum dolor sit amet consectetur incididunt ut labore et dolore magna aliqua elit sed
										do eiusmod.
										<br><br>
										<a href="#" style="background-color: red; border-radius: 5px; padding: 5px 10px; text-decoration: none; text-shadow: 2px #55315d; color: white;">Learn more</a>
									</td>
									<td>
										<img class="promo" alt="Promo image 2" src="https://avatars.mds.yandex.net/i?id=3594216530a17dd86c9d427c60f7b9a1bb03b3de-7761820-images-thumbs&n=13" width="50%">
										<h3 style="font-size:16px;">Promo heading here</h3>
										Lorem ipsum dolor sit amet consectetur incididunt ut labore et dolore magna aliqua elit sed
										do eiusmod.
										<br><br>
										<a href="#" style="background-color: red; border-radius: 5px; padding: 5px 10px; text-decoration: none; text-shadow: 2px #55315d; color: white;">Learn more</a>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td>
							
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<table>report line</table>
	<table role="presentation">not report line</table>
</body>

</html>